/* Fondo general */
body {
  background-color: lightblue;
}

/* ID: título único */
#titulo {
  color: navy;
  text-align: center;
}

/* Clase: párrafos repetidos */
.resaltado {
  color: red;
  font-weight: bold;
}

/* ID único con clase */
#especial {
  color:indigo;
}

.destacado {
    color:brown;
}

#importante{
    color: purple;        
    font-weight: bold;     
    font-size: 24px;       
    background-color: #ffe0f0; 
    padding: 10px;         
    border-radius: 8px;
}

.importante2{
    color: green;       
    font-weight: bold;   
    font-size: 18px;     
    background-color: #f0f0f0; 
    padding: 5px;        
    border-radius: 5px;
}